header {
    text-align: center;
    background-color: $rojo;
    padding: 10px;
    nav {
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        ul {
            display: flex;
            flex-direction: row;
        }
        li, span {
            display: inline-block;
            padding: 10px;
            li{
                &:hover{
                cursor: pointer;
                background-color: $negro;
                }
            }
        }
    }
}